.dhis2-map .maplibregl-ctrl-scale {
    margin-bottom: 5px;
}

.dhis2-map .maplibregl-ctrl-attrib.maplibregl-compact {
    margin-bottom: 3px;
    margin-right: 3px;
}

.dhis2-map-split-view .maplibregl-ctrl-group {
    box-shadow: none;
}

.dhis2-map-split-view .maplibregl-ctrl-zoom-in,
.dhis2-map-split-view .maplibregl-ctrl-zoom-out,
.dhis2-map-split-view .maplibregl-ctrl-compass,
.dhis2-map-split-view .maplibregl-ctrl-fullscreen,
.dhis2-map-split-view .maplibregl-ctrl-shrink {
    position: absolute;
    right: 0;
    background: #fff;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.dhis2-map-split-view .maplibregl-ctrl-zoom-in:focus,
.dhis2-map-split-view .maplibregl-ctrl-zoom-out:focus,
.dhis2-map-split-view .maplibregl-ctrl-compass:focus,
.dhis2-map-split-view .maplibregl-ctrl-fullscreen:focus,
.dhis2-map-split-view .maplibregl-ctrl-shrink:focus {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.dhis2-map-split-view .maplibregl-ctrl-zoom-in:focus:not(:focus-visible),
.dhis2-map-split-view .maplibregl-ctrl-zoom-out:focus:not(:focus-visible),
.dhis2-map-split-view .maplibregl-ctrl-compass:focus:not(:focus-visible),
.dhis2-map-split-view .maplibregl-ctrl-fullscreen:focus:not(:focus-visible),
.dhis2-map-split-view .maplibregl-ctrl-shrink:focus:not(:focus-visible) {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.dhis2-map-split-view .maplibregl-ctrl-zoom-in:not(:disabled):hover,
.dhis2-map-split-view .maplibregl-ctrl-zoom-out:not(:disabled):hover,
.dhis2-map-split-view .maplibregl-ctrl-compass:not(:disabled):hover,
.dhis2-map-split-view .maplibregl-ctrl-fullscreen:not(:disabled):hover,
.dhis2-map-split-view .maplibregl-ctrl-shrink:not(:disabled):hover {
    background-color: #f3f3f3;
}

.dhis2-map-split-view .maplibregl-ctrl-zoom-in {
    top: 0;
    background: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    z-index: 1002;
}

.dhis2-map-split-view .maplibregl-ctrl-zoom-out {
    top: 29px;
    z-index: 1001;
}

.dhis2-map-split-view .maplibregl-ctrl-compass {
    top: 58px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    z-index: 1000;
}

.dhis2-map-split-view .maplibregl-ctrl-fullscreen,
.dhis2-map-split-view .maplibregl-ctrl-shrink {
    top: 98px;
    border-radius: 3px;
}

.dhis2-map-plugin .dhis2-map-split-view .maplibregl-ctrl-fullscreen,
.dhis2-map-plugin .dhis2-map-split-view .maplibregl-ctrl-shrink {
    top: 69px;
}

.dhis2-map-split-view .dhis2-map-ctrl-fitbounds {
    position: absolute;
    top: 138px;
    right: 0;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.dhis2-map-split-view .dhis2-map-ctrl-search {
    position: absolute;
    top: 189px;
    right: 10px;
}

.dhis2-map-split-view .maplibregl-ctrl-attrib {
    position: absolute;
    right: 1px;
    bottom: 1px;
    font-size: 12px;
    margin: 0;
}

.dhis2-map-split-view .maplibregl-ctrl-attrib.maplibregl-compact:hover {
    height: 24px;
    padding-top: 4px;
}

.dhis2-map-split-view
    .maplibregl-ctrl-attrib.maplibregl-compact:hover
    .maplibregl-ctrl-attrib-inner {
    right: 0;
    padding: 2px 8px;
}

.dhis2-map-split-view .maplibregl-ctrl-attrib.maplibregl-compact:after {
    right: 0;
    bottom: 0;
}

.dhis2-map-split-view .dhis2-map-bing-logo {
    display: none;
}

.dhis2-map-download .maplibregl-ctrl-zoom-in,
.dhis2-map-download .maplibregl-ctrl-zoom-out,
.dhis2-map-download .maplibregl-ctrl-compass,
.dhis2-map-download .maplibregl-ctrl-fullscreen {
    display: none;
}

.dhis2-map-download .maplibregl-ctrl-attrib {
    white-space: nowrap;
}

.dhis2-map-plugin .maplibregl-ctrl-compass {
    display: none;
}

.dhis2-map-plugin .maplibregl-ctrl-zoom-out {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.dhis2-map-plugin .dhis2-map-legend {
    box-sizing: border-box;
    top: 117px;
    padding: 1px 2px 2px 1px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-height: calc(100% - 126px);
}
