.dhis2-map-bing .mapboxgl-ctrl-bottom-left {
    left: 60px;
}

.dhis2-map-bing-logo {
    position: absolute;
    bottom: 3px;
    left: 3px;
}

.dhis2-map-split-view .mapboxgl-ctrl-group {
    position: absolute;
    top: 10px;
    right: 10px;
}

.dhis2-map-popup .mapboxgl-popup-content {
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}

.dhis2-map-popup .mapboxgl-popup-content em {
    font-style: normal;
    font-weight: bold;
}

.dhis2-map-popup-event {
    max-height: 300px;
    overflow: auto;
    line-height: 14px;
}

.dhis2-map-popup-event th {
    white-space: nowrap;
    vertical-align: top;
    font-weight: bold;
    padding-right: 5px;
}
