#dhis2-map-container .mapboxgl-popup-content {
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}

#dhis2-map-container .mapboxgl-popup em {
    font-style: normal;
    font-weight: bold;
}

.dhis2-map-split-view .mapboxgl-ctrl-group {
    position: absolute;
    top: 10px;
    right: 10px;
}

.dhis2-map-popup-event {
    width: 300px;
    max-height: 300px;
    overflow: auto;
}

.dhis2-map-popup-event th {
    white-space: nowrap;
    vertical-align: top;
    font-weight: bold;
    padding-right: 5px;
}
