name: 'dhis2: verify (app)'

on:
    pull_request:
        types: ['opened', 'edited', 'reopened', 'synchronize']

concurrency:
    group: ${{ github.workflow}}-${{ github.ref }}

jobs:
    verify:
        if: "!contains(github.event.head_commit.message, '[skip ci]')"
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: 20.x

            - name: Install
              run: yarn install --frozen-lockfile

            - name: Lint
              run: yarn d2-style check

            - name: Test
              run: yarn test

            - name: Build
              run: yarn build
